{% load i18n future fb_tags %}
<style>.media-breadcrumb span {margin:0 4px;}</style>

<span class="media-breadcrumb">
{% if breadcrumbs or breadcrumbs_title %}
    <!-- Ondra: added 'dir' argument to force root directory -->
    <a href="{% url "fb_browse" %}{% query_string "" "dir,filename,p" %}&amp;dir=">{% trans 'Media Library' %}</a> <span>&rsaquo;</span>
{% else %}
    {% trans 'Media Library' %}
{% endif %}
{% for item in breadcrumbs %}
    {% if not forloop.last %}
        <a href="{% url "fb_browse" %}{% query_string "" "dir,filename,p" %}&amp;dir={{ item.1 }}">{{ item.0 }}</a> <span>&rsaquo;</span>
    {% else %}
        {% if breadcrumbs_title %}
            <a href="{% url "fb_browse" %}{% query_string "" "dir,filename,p" %}&amp;dir={{ item.1 }}">{{ item.0 }}</a> <span>&rsaquo;</span>
        {% else %}
            {{ item.0 }}
        {% endif %}
    {% endif %}
{% endfor %}
{% if breadcrumbs_title %}{{ breadcrumbs_title }}{% endif %}
</span>
